<section>
  <div class="container">
    <div class="top-decoration">
      <img src="../../../../assets/img/error-imgs/top-decoration.png" alt="" />
    </div>
    <div class="content">
      <h1>Oops!</h1>
      <span class="message">404 - PAGE NOT FOUND</span>
      <p>
        The page you are looking for might have been removed, had its name
        changed or is temporary unavailable.
      </p>
      <button (click)="goToHome()">
        <span> Go to Homepage </span>
      </button>
    </div>
    <div class="bottom-decoration">
      <img
        src="../../../../assets/img/error-imgs/bottom-decoration.png"
        alt=""
      />
    </div>
  </div>
</section>
