<div class="container">
    <div class="content">
        <div class="texts-side">
            <span class="title">WHY CHOOSE LB HOMEMAKERS BUILD FOR YOUR REMODEL?</span>
            <p class="text">Our team of experienced NYC renovation specialists has seen it all! There’s not a single design challenge or building constraint that our builders can’t overcome or find a solution for. We treat each remodeling project with the same care we’d want for ourselves, and we’re committed to creating spaces that look and feel the way our clients envision.</p>
            <span class="end-text">You tell us what you need, and we’ll handle the details. Give us a call at (212) 475-8000 or <a class="contact" href="https://kbremodel.com/contact/"> contact us online today </a> schedule your free on-site consultation.</span>
        </div>
        <div class="lines">
            <img src="../../../../assets/img/portfolio-imgs/Layer_1.png" alt="">
        </div>
    </div>
</div>
<div class="section">
    <app-form-mini></app-form-mini>
</div>
