<!-- src/app/components/home-page/home-page.component.html -->
<!-- <div *ngIf="processApiCallResponse$ | async as posts">
  <div *ngFor="let post of posts.slice(0, 3)">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
  </div>
</div>

<ng-container *ngIf="getCurrencyResponse$ | async as currencies">
  <div *ngFor="let currency of currencies.data.slice(0, 3)">
    <h3>{{ currency.name }}</h3>
  </div>
</ng-container>
<hr />
<ng-container>
  <div *ngFor="let currency of cvladi.data.slice(0, 3)">
    <h3>{{ currency.name }}</h3>
  </div>
</ng-container> -->
<app-header
  title="Remodeling company “LB HOMEMAKERS”"
  titleMobile="Building company “LB HOMEMAKERS”"
></app-header>
<app-slider></app-slider>
<app-section-featured-projects></app-section-featured-projects>
<app-section-project-categories-title></app-section-project-categories-title>
<app-section-project-categories></app-section-project-categories>
<!-- <h1 style="text-align: center">დროებით გამოვიძახე ორივე ფორმა</h1>
<h1 style="text-align: center">
  shared მოდულშია და სადაც დაგჭირდეთ გამოიყენეთ
</h1>
<h2 style="text-align: center">app-form-large</h2>
<app-form-large></app-form-large>
<h2 style="text-align: center">app-form-mini</h2>
<app-form-mini></app-form-mini> -->
