<footer>
  <div class="container">
    <div class="logo">
      <img src="../../../assets/img/shared-imgs/footer-logo.png" alt="" />
    </div>
    <div class="info-wrapper">
      <div class="details work-hours">
        <span class="info-title"> Work Hours </span>
        <div class="info">
          <span>Monday - Friday 10:00am - 6:00pm </span>
          <br /><br />
          <span> Saturday & Sunday By Appointment</span>
        </div>
      </div>
      <div class="details services">
        <span class="info-title"> Services </span>
        <div class="info">
          <a routerLink="">Apartment Renovation</a>
          <a routerLink="">Kitchen Renovation</a>
          <a routerLink="">Bathroom Renovation</a>
          <a routerLink="">Commercial Renovation</a>
        </div>
      </div>
      <div class="details contact">
        <span class="info-title"> Contact </span>
        <div class="info">
          <span>Schedule your free estimate</span>
          <a href="tel:+(646)724-3326">(646)724-3326</a>
          <div class="links">
            <a href="">
              <img src="../../../assets/img/icons/facebook.png" alt="" />
            </a>
            <a href="">
              <img src="../../../assets/img/icons/instagram.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
