<div class="content">
  <div class="image-content">
    <img src="../../../../assets/img/services-imgs/showcase.png" alt="" />
  </div>

  <div class="text-content">
    <div class="info">
        <app-sup-text-title
          supTitle="what is it"
          title="RENOVATION OF THE APARTMENT"
        ></app-sup-text-title>
        <p class="description">
          Looking to transform your home? LB HOMEMAKERS is here to help!
          Specializing in complete home remodels, we breathe new life into your
          space. Based in Brooklyn, our experienced team of general contractors is
          equipped to handle any project, big or small. With a portfolio of stunning
          completed renovations, we’re ready to tackle anything from a single room
          to your entire home. Count on us to deliver exceptional quality and
          beautiful results, efficiently and expertly.
        </p>
    </div>
  </div>
</div>
