<section>
  <div class="container">
    <div class="content">
      <div class="title-mobile">
        <span> Create your perfect space </span>
        <h1>our projects</h1>
      </div>
      <div class="half">
        <div class="description">
          <div class="title-wrapper">
            <span>Create your perfect space</span>
            <h1>Our featured Projects</h1>
          </div>
          <div class="details">
            <ul class="details-list">
              <li>Luxury Renovations Made Simple</li>
              <li>Renovate, Elevate, Celebrate!</li>
              <li>Stress-Free Experience</li>
              <li>Transparent Pricing</li>
              <li>Eco-Friendly Practices</li>
              <li>Timely Project Completion</li>
            </ul>
            <button (click)="goToProjects()">
              <span>See all projects</span>
            </button>
          </div>
        </div>
        <div class="card">
          <span class="index">01</span>
          <div class="project-type">
            <span>Project type</span>
            <p>Renovation of the apartment</p>
          </div>
          <div class="filter"></div>
        </div>
      </div>
      <div class="half">
        <div class="card">
          <span class="index">02</span>
          <div class="project-type">
            <span>Project type</span>
            <p>Renovation of the Bathroom</p>
          </div>
          <div class="filter"></div>
        </div>
        <div class="card">
          <span class="index">03</span>
          <div class="project-type">
            <span>Project type</span>
            <p>Renovation of the kitchen</p>
          </div>
          <div class="filter"></div>
        </div>
        <button (click)="goToProjects()" class="btn-mobile">
          <span>See all projects</span>
        </button>
      </div>
      <img
        src="../../../../assets/img/portfolio-imgs/Layer_1.png"
        alt=""
        class="decoration"
      />
      <img
        src="../../../../assets/img/home-images/decoration-mobile.png"
        alt=""
        class="decoration-mobile"
      />
    </div>
  </div>

  <app-form-large></app-form-large>
</section>
